.markdown-body>* {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.markdown-body * {
    line-height: 1.5em;
}

/* - 代码 */
pre,
code {
    word-break: normal;
    font-family: 'Consolas', 'Courier New', monospace;
}

pre {
    tab-size: 4;
    padding: 1em;
    overflow: auto;
    border-radius: .5em;
    border-radius: 4px;
    background: #282c34;
    color: #abb2bf;
    border: 1px solid #ddd;
    background-size: auto 3em;
    background-origin: content-box;
}

:not(pre)>code {
    color: #c40b00;
    font-size: 85%;
    word-wrap: normal;
    border-radius: .5em;
    border-radius: 4px;
    padding: .25em .5em;
    word-break: break-all;
    background-color: #f7f2f4;
}

/* - 引用 */
.markdown-body blockquote {
    line-height: 1.8;
    /* font-style: oblique; */
    background: #f5fafd;
    padding: 10px 15px;
    border-left: 5px #50bfff solid;
    border-color: #50bfff;
    border-radius: 4px;
    background-color: #ecf1f5;
    margin-top: 10px;
}

/* - 阅读页正文 */
.markdown-body a {
    border-bottom: 1px dashed currentColor
}

.markdown-body img {
    border-radius: .25em;
    border-radius: var(--radius);
}

.post-content,
.page-content {
    animation: fade-in-top .3s .2s backwards;
    -webkit-animation: fade-in-top .3s .2s backwards;
}

.post-content,
.page-content,
.post-near,
.post-tags,
.post-author {
    margin-bottom: 3em
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
    margin-top: 3rem;
    scroll-margin-top: 5em;
}

.markdown-body h2 {
    font-size: 1.15em
}

.markdown-body h3 {
    font-size: 1.10em
}

.markdown-body h4 {
    font-size: 1.05em
}

.markdown-body h5 {
    font-size: 1em
}

.markdown-body h6 {
    font-size: .9em
}

.markdown-body h1:before,
.markdown-body h2:before,
.markdown-body h3:before {
    content: "#";
    color: #6f9fc7;
    color: var(--blue);
    margin-right: .5em;
}

.markdown-body h1:before {
    font-weight: bold
}

.markdown-body ul p:first-child {
    margin-top: .5em;
    margin-bottom: 0;
}

/* .markdown-body>p,
.markdown-body>ol,
.markdown-body>ul,
.markdown-body>table {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
} */